include README.rst
include LICENSE
recursive-include pyrestoolbox *.py *.xlsx *.rst *.ipynb *.png
global-exclude *.pyc
global-exclude *Zone.Identifier
prune pyrestoolbox/tests
prune pyrestoolbox/docs/.ipynb_checkpoints
recursive-exclude * __pycache__
