include README.rst
include LICENSE
global-exclude *Zone.Identifier
global-exclude *.pyc
recursive-include pyrestoolbox *
global-exclude __pycache__                                                                                                                                       